body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.mbody{
	margin: 5px;
}

/*form table css*/
.ftable{
	width: 100%;
	border-collapse:collapse;
	margin-bottom: 5px;
	color: #000000;
	font-size: 12px;
	border: 1px solid #95b8e7;
	background-color: #fff;
}
.ftable td{
	border: 1px solid #95b8e7;
}
.ftable .flabel{
	width: 100px;
	text-align: right;
	background-color: #dbedf4;
}
.ftable .fcontent{
	background-color: #eff5ff;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}