<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likg.auth.dao.MenuMapper">

	<resultMap id="menuMap" type="com.likg.auth.domain.Menu">
		<result property="id" column="id" />
		<result property="menuName" column="menu_name" />
		<result property="isLeaf" column="is_leaf" />
		<association property="resource" resultMap="resourceMap" >
		</association>
	</resultMap>
	<resultMap id="resourceMap" type="com.likg.auth.domain.Resource">
		<result property="id" column="res_id" />
		<result property="resUrl" column="res_url" />
		<result property="resName" column="res_name" />
	</resultMap>

	<select id="getNavigateMenuTree" resultMap="menuMap">
		select m.id,m.menu_name,m.is_leaf,r.res_url
		from auth_user u
		join auth_user_role ur on u.id=ur.user_id
		join auth_role_resource rr on rr.role_id=ur.role_id
		join auth_resource r on rr.res_id=r.id
		join auth_menu m on m.res_id=r.id
		where u.id=#{param2}
		<if test="param1 == null">and m.parent_id is null</if>
		<if test="param1 != null">and m.parent_id=#{param1}</if>
	</select>
	
	<select id="get" resultMap="menuMap">
		select * 
		from auth_Menu t
		join auth_resource r on t.res_id=r.id
		where t.id=#{pid}
	</select>
	
	<select id="getMenuListByParentId" parameterType="string" resultType="com.likg.auth.domain.Menu">
		select t.*
		from auth_Menu t
		where 
		<if test="_parameter == null">t.parent_id is null</if>
		<if test="_parameter != null">t.parent_id=#{pid}</if>
	</select>
	
	<select id="save" parameterType="com.likg.auth.domain.Menu">
		insert into auth_Menu(id,parent_id,menu_name,res_id,menu_desc,is_leaf) 
		values(#{id},#{parentId},#{menuName},#{resId},#{menuDesc},#{isLeaf})
	</select>
	
	<select id="update" parameterType="com.likg.auth.domain.Menu">
		update auth_Menu set is_leaf=#{isLeaf} where id=#{id}
	</select>
	<select id="update2" parameterType="com.likg.auth.domain.Menu">
		update auth_Menu set menu_name=#{menuName},res_id=#{resId} where id=#{id}
	</select>
	
</mapper>