<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likg.msg.dao.InsideLetterMapper">

	<resultMap id="userMap" type="com.likg.auth.domain.User">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
		<result property="realName" column="real_name" />
		<result property="status" column="status" />
		<result property="createTime" column="create_time" />
	</resultMap>

	<select id="getInsideLetter" parameterType="int" resultType="com.likg.msg.domain.InsideLetter">
		SELECT t.*,u.user_name sendUserName
		FROM inside_letter t 
		join auth_user u on t.send_user_id=u.id 
		WHERE t.id=#{id}
	</select>
	
	<select id="selectList" resultMap="userMap">
		select id,user_name userName from auth_user order by id desc
	</select>
	
	
	<insert id="saveUser" parameterType="com.likg.msg.domain.InsideLetter" useGeneratedKeys="true" keyProperty="id">
		insert into inside_letter(title,content,send_user_id,create_time) values(#{title},#{content},#{sendUserId},#{createTime})
	</insert>
	
	<insert id="saveUserRole" parameterType="com.likg.msg.domain.InsideLetterUser">
		insert into inside_letter_user(inside_letter_id,user_id,is_read) values
		<foreach collection="list" item="role" separator=",">
			(#{role.insideLetterId},#{role.userId},#{role.isRead})
		</foreach>
	</insert>
	
	<delete id="deleteUserRole" parameterType="int">
		delete from auth_user_role where user_id=#{id}
	</delete>
	
	<update id="updateUser" parameterType="com.likg.auth.domain.User">
		update auth_user set user_name=#{userName},real_name=#{realName} where id=#{id}
	</update>
	
	<delete id="deleteUser" parameterType="int">
		delete from auth_user where id=#{id}
	</delete>
	
	<select id="getInboxPage" parameterType="int" resultType="com.likg.msg.domain.InsideLetter">
		select t.*,au.user_name sendUserName
		from inside_letter t
		join inside_letter_user u on t.id=u.inside_letter_id
		join auth_user au on au.id=t.send_user_id
		where u.user_id=#{userId}
		order by id desc
	</select>
	<select id="getInboxCount" parameterType="int" resultType="int">
		select count(id) from inside_letter_user t
		where t.user_id=#{userId}
	</select>
	
	<select id="getOutboxPage" parameterType="int" resultType="com.likg.msg.domain.InsideLetter">
		select t.*
		from inside_letter t
		join inside_letter_user u on t.id=u.inside_letter_id
		where t.send_user_id=#{userId}
		order by t.id desc
	</select>
	<select id="getOutboxCount" parameterType="int" resultType="int">
		select count(id) from inside_letter t
		where t.send_user_id=#{userId}
	</select>
	
	
	<select id="getMaxGoodsId" resultType="int">
		select max(id) from goods
	</select>
	
	
	<select id="getUserByUserName" resultType="map">
		SELECT u.id,u.user_name,u.password,ur.role_id,r.id resId,r.res_name,r.res_url
		FROM auth_user u
		JOIN auth_user_role ur on u.id=ur.user_id
		JOIN auth_role_resource rr on rr.role_id=ur.role_id
		JOIN auth_resource r on rr.res_id=r.id
		WHERE u.user_name=#{userName}
	</select>
	
	
</mapper>