<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">


	<!-- 开启debug模式
	<sec:debug /> -->
	
	<sec:http pattern="/**/*.js" security="none" />
	<sec:http pattern="/**/*.map" security="none" />
	<sec:http pattern="/**/*.css" security="none" />
	<sec:http pattern="/**/*.jpg" security="none" />
	<sec:http pattern="/**/*.jpeg" security="none" />
	<sec:http pattern="/**/*.png" security="none" />
	<sec:http pattern="/**/*.gif" security="none" />
	<sec:http pattern="/**/*.ico" security="none" />
	<sec:http pattern="/**/*.swf" security="none" />
	<sec:http pattern="/view/resource/**" security="none" />
	<sec:http pattern="/login.jsp" security="none" />
	<sec:http pattern="/jcaptcha" security="none" />
	<sec:http pattern="/LoginController.do" security="none" />
	
	
	<!-- 认证过滤器 -->
	<bean id="securityFilter" class="com.likg.security.MySecurityFilter">
		<!-- 用户拥有的权限 -->
		<property name="authenticationManager" ref="myAuthenticationManager" />
		<!-- 用户是否拥有所请求资源的权限 -->
		<property name="accessDecisionManager" ref="myAccessDecisionManager" />
		<!-- 资源与权限对应关系 -->
		<property name="securityMetadataSource" ref="mySecurityMetadataSource" />
	</bean>
	
	<!-- 实现了UserDetailsService的Bean -->
	<sec:authentication-manager alias="myAuthenticationManager">
		<sec:authentication-provider user-service-ref="myUserDetailServiceImpl" />
	</sec:authentication-manager>
	<bean id="myUserDetailServiceImpl" class="com.likg.security.MyUserDetailServiceImpl">
		<property name="userService" ref="userService" />
	</bean>

	<bean id="myAccessDecisionManager" class="com.likg.security.MyAccessDecisionManager"></bean>

	<bean id="mySecurityMetadataSource" class="com.likg.security.MySecurityMetadataSource">
		<constructor-arg name="resourceService" ref="resourceService" />
	</bean>

	
	
	<sec:http use-expressions="true" entry-point-ref="loginUrlAuthEntryPoint">
		<sec:custom-filter ref="loginFilter" position="FORM_LOGIN_FILTER" />
		<sec:custom-filter ref="securityFilter" before="FILTER_SECURITY_INTERCEPTOR" />
	</sec:http>

	<!-- 登录验证器 -->
	<bean id="loginFilter" class="com.likg.security.MyUsernamePasswordAuthenticationFilter">
		<property name="filterProcessesUrl" value="/j_spring_security_check" />
		<property name="authenticationSuccessHandler" ref="successHandler" />
		<property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler" />
		<property name="authenticationManager" ref="myAuthenticationManager" />

		<property name="userService" ref="userService" />
	</bean>
	<bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="defaultTargetUrl" value="/LoginController.do?method=login"></property>
	</bean>
	<bean id="simpleUrlAuthenticationFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/login.jsp"></property>
	</bean>
	
	<!-- 未登录的切入点 -->
	<bean id="loginUrlAuthEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<property name="loginFormUrl" value="/login.jsp"></property>
	</bean>
	
	
</beans>
